{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Blog Page</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <div class="navbar">
        <div class="brand">
            <h1>Blog Name</h1>
        </div>
        <nav class="navlinks">
            <ul>
                <li><a href="{% url 'myposts' %}">My Post</a></li>
            </ul>
        </nav>
        <div class="logout">
            <button><a href="{% url 'logout' %}">Logout</a></button>
        </div>
    </div>

    <div class="content">
        {% if posts %}
            {% for post in posts %}
                <div class="post">
                    <h2>{{post.title}}</h2>
                    <p>{{post.content}}</p>
                </div>
            {% endfor %}
        {% endif %}
        
    </div>
</body>
</html>
